@{
    ViewData["Title"] = "Prijava";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 card shadow p-4">
            <h2 class="text-center mb-4">Prijava</h2>

            @if (ViewBag.Greska != null)
            {
                <div class="alert alert-danger text-center small py-2">
                    @ViewBag.Greska
                </div>
            }

            <form asp-action="Prijava" method="post">
                <div class="mb-3">
                    <label class="form-label">Email adresa</label>
                    <input type="email" name="email" class="form-control" placeholder="ime@primjer.com" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Lozinka</label>
                    <input type="password" name="lozinka" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Prijavi se</button>

                <div class="mt-3 text-center">
                    <p class="small">Nemate račun? <a asp-controller="Home" asp-action="Registracija">Registrirajte se ovdje</a></p>
                </div>
            </form>
        </div>
    </div>
</div>